Repository hacktoberfesthowto/howto-blog, pull requests merged in 2022-09, with the labels that each got.

#22 Update Dockerfile, adds a few new links
  .gitpod.Dockerfile
  content/_index.md
  content/howto.md
Labels: enhancement, hugo, gitpod, hacktoberfest

#26 try fork of action - resolve fatal workspace error
  .github/workflows/push.yml
Labels: bug, github-actions

#25 Add 2021 images
  content/history.md
  static/images/image1.jpg
  static/images/image2.jpg
Labels: enhancement, gitpod, hacktoberfest, hacktoberfest-accepted

#27 Updates image filenames for clarity
  content/history.md
  static/images/2021Shirt.jpg
  static/images/2021Swag.jpg
Labels: enhancement, hacktoberfest
