Repository hacktoberfesthowto/howto-blog, pull requests merged in 2023-10, with the labels that each got.

#41 Added the repository link to Index page.
  content/_index.md
Labels: hacktoberfest, hacktoberfest-accepted

#42 Updated NavLink and Index Page
  config.toml
  content/_index.md
  content/howto-contributors.md
  content/howto-maintainers.md
Labels: enhancement, hacktoberfest

#43 add 2022 shirt images
  content/history.md
  static/images/2022Logo.webp
  static/images/2022Shirt1.jpeg
  static/images/2022Shirt2.jpg
Labels: hacktoberfest, hacktoberfest-accepted, content

#44 Add new info2023 - Issue #40
  content/history.md
Labels: enhancement, hacktoberfest, hacktoberfest-accepted, content
