Repository hacktoberfesthowto/howto-blog, pull requests merged in 2024-10, with the labels that each got.

#46 Updates theme to fork of original and changes color for 2024
  .gitmodules
  config.toml
Labels: hacktoberfest

#48 Updates history with 2023 and 2024 info
  config.toml
  content/history.md
  static/images/2023logo-horizontal.svg
  static/images/2023logo.svg
  static/images/2024logo.png
Labels: enhancement, hacktoberfest, content

#51 Warn contributors about spam submissions
  CONTRIBUTING.md
  content/_index.md
  content/howto-contributors.md
Labels: enhancement, hacktoberfest, hacktoberfest-accepted, content

#53 update references of comfy t-shirts to digital badges
  content/_index.md
  content/howto-contributors.md
  content/howto-maintainers.md
  content/howto.md
Labels: hugo, hacktoberfest, hacktoberfest-accepted, content
